<% provide(:title, "About") %>

  <h1>About</h1>
  <p>Highly Self-driven,motivated and disciplined.</p>
  <p>Person of high integrity, good moral and character.</p>
  <p>Clear and logical mind with a practical approach to problem solving and a drive to see things through to completion.</p>
 

