<% provide(:title, "CV") %>
<h1>WELCOME TO MY WORLD</h1>
<h2>Contact Me</h2>
<p><b>Online</b></p>
<p>Submit an enquiry or provide feedback</p>
<p>Email</p><a href="mailto:kevinochieng548@gmail.com">
kevinochieng548@gmail.com</a></p>

<p><b>By phone</b></p>
<p>Call 0705263536</p>

<p><b>By post</b></p>
<p>P.O BOX 571,</p>
<p>Bondo</p>


<div>Copyrights 2016</div>